/*
body {
  background: #fff !important;
}
*/

.reveal pre code {
  font-size: 1.375em;
  line-height: 1.1;
  padding: 0 1em;
}

.reveal li {
  font-size: 130%;
  line-height: 160%;  
  list-style: none;
  border-left: solid 0.3em #aaa;
  padding-left: 1em;
  margin: 0.3em 0;
  border-radius: 0.3em;
  color: #444;
}

.reveal h2,
.reveal h3 {
  margin: 0.2em;
}

.bricks {
  white-space: nowrap;
}

.bricks > em,
.bricks > a,
.bricks > a:link,
.bricks > a:visited,
.bricks > a:hover,
.bricks > a:active {
  background: #000;
  border-radius: 0.8em;
  box-shadow: 0 0 0.3em #000;
  color: #fff;
  display: inline-block;
  font-size: 0.8em;
  font-style: normal;
  font-weight: normal;
  margin: 0.2em;
  padding: 0.5em 2em;
}

.blocks > li,
.blocks {
  color: #fff;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.blocks > li {
  background: #000;
  border-radius: 0.8em;
  box-shadow: 0 0 0.3em #000;
  color: inherit;
  display: block;
  font-size: 1.2em;
  font-style: normal;
  font-weight: normal;
  margin: 0.5em;
  padding: 0.5em 2em;
  text-align: center;
}

.reveal pre .xml {
  opacity: 1;
}

*::selection {
  background: tomato;
  color: #fff;
}

.reveal pre code {
  max-height: 20em;
}
